body {
  background-color: #f4f4f9; /* Um cinza quase branco, super elegante */
  color: #333;
  font-family: 'Inter', 'Segoe UI', sans-serif; /* Fonte sem serifa moderna */
}

h1 {
  text-align: center;
  color: #1a1a1a;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 700;
}

.btn-send {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #a07272;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 18px;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    background-color: #f4f4f9;;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  padding: 0 20px;
  max-width: 1100px;
  margin: 0 auto; /* Centraliza o grid na tela */
}